/* New-tweet section & form layout */
section.new-tweet {
  width: 98%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.new-tweet form {
  display:flex;
  flex-direction:column;
}

/* Form label format */
form > label {
  font-weight: bold;
}

/* Textarea format */
#tweet-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: transparent;
  border-style: none;
  border-bottom: solid;
  border-bottom-color: #545149;
  border-bottom-width: thick;
  resize: none;
}

#tweet-text:focus-visible {
  outline: none;
}

/* Button and counter layout */
form > div {
  display: flex;
  justify-content: space-between;
  color: #545149;
  font-family: 'Bungee', sans-serif;
}

/* Button format */
form > div > button {
  border-style: none;
  background-color: #4056A1;
  color: #FFFFFF;
}

/* Char counter format when count is less than 140 */
output.counter.warning {
  color: rgb(226, 60, 60);
}