/* Tweets Container layout */
section#tweets-container {
  width: 100%;
}

/* Individual Tweet */
article.tweet {
  border-style: solid;
  border-width: thick;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.tweet:hover {
  box-shadow: 10px 10px 7px 1px rgba(0, 0, 255, .2);
}

/* Tweet header */
article.tweet > header {
  width: 96%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Child elements of header & footer */

article.tweet > header > div {
  display: flex;
  align-items: center;
}

article.tweet > header > div.user-avatar-and-name {
  font-size:larger
}
article.tweet > header > div.user-avatar-and-name> span {
  margin-left: 0.5em;
}

article.tweet img {
  height: 1.5em;
  width: auto;
  border-radius: 50%;
}

article.tweet > header > div.handle {
  color: rgb(172, 172, 172);
  font-weight: 600;
}


/* Tweet <p> */
article.tweet > p {
  width: 95%;
  font-weight: 600;
}
/* Tweet footer */
article.tweet > footer {
  width: 98%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 0.7em;
  padding-left: 0.7em;
  padding-top: 0.5em;
  border-top-style: solid;
  border-top-width: thick;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Child elements of footer */

article.tweet > footer i.fa-solid {
  height: 28px;
  width: 28px;
  color: #4056A1;
  margin-left: 0.5em;
}

article.tweet > footer i:hover {
  color: rgb(218, 200, 0);
}